body {
	color: #4a4a4a;
	margin: 0px;
	padding:0px;
	font-family: "Open Sans";
	line-height: 1.5em;
	font-size: 14px;
}

a {
	color: #4a4a4a;
	text-decoration: underline;
	transition: all .3s ease
}

a:hover,
a.selected {
	color: #13aff0;
}

#dashmenu,
header {
	padding-top: 1rem;
}

/* Menu */

#dashmenu {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#dashmenu a {
	text-decoration: none;
	padding: 8px;
	transition: none;
}

#dashmenu a:hover {
	background-color: #4a4a4a;
	color: #eee;
}

#dashmenu a > i {
	margin-right: 8px;
}

/* Edit user */

#user-edit-form label {
	height: 30px;
	line-height: 30px;
	display: block;
	padding: .2rem 0;
	font-weight: bold;
}

#profile-img {
	width: 128px;
}